
form{
    background-color: #566981;
    width: 60vw;
    align-items: center;
    justify-content: center;
    padding: 5vh;
    margin: 5vh;
    border-radius: 5vh;
}
#btn-ad{
    background-color: #CBDAD5;
    color: black;
    border-style: none;
}

#btn-ad:hover{
color: white;
background-color: #566981;
box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}
.container-form{
    display: flex;
    justify-content: center;
    
}

.form-control{
    width: 50vw;

}

#input-description{
height: 20vh;
}

