.section-container {
    font-family: pitch, courier new, Courier, lucida sans typewriter, lucida typewriter, monospace;
    color: rgba(239, 230, 225, 0.87);
    height: 80vh; 
    width: 180vh;
    background-image: url(../../public/Vintaje.png);
    font-weight: bold;
    padding: 10%;
    background-size: cover;



}