

.cards{
display: flex;
width: 80vw;
flex-wrap: wrap;
justify-content: center;
align-items: center;
margin-left: 15vh;
}

.card{
    width: 20vw;
    margin: 5vh;
    color: black;
  
}

.btn-ad{
    background-color: #CBDAD5;
    color: black;
    border-style: none;
    
}

.btn-ad:hover{
color: white;
background-color: #566981;
}

@media (max-width: 414px) {
    .card {
      width: 150vw;
      
    }

    .cards{
        width: 90vw;
        margin-left: 2vh;

    }
  }

  @media (max-width: 375px) {
    .card {
      width: 150vw;
      
    }

    .cards{
        width: 90vw;
        margin-left: 2vh;

    }
  }