.footer-text{
    color:#74522B !important;
    font-size: 1.125rem;
    margin-left: 1.875rem;
    text-decoration: none;
   
    
}

.footer{
    
    margin-top: 1vh;
}

.socialmedia {
    width: 1.5625rem; 
    margin-left: .625rem;
    
        
}

@media (max-width: 420px) {
    .socialmedia {
        width: 1.5625rem; 
        margin-left: .125rem;
}
.footer-text{
    color:#74522B !important;
    font-size: 1.125rem;
    margin-left: .4375rem;
    text-decoration: none;
}
}
