.footer-text{
    color:#74522B !important;
}

.footer{
    bottom: 0;
}
/* .footerContainer {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F0CF84 !important;
    width: 100%;
    height: 6vh;
    position: relative;
    bottom: 0;

   
}

.footerText {
    font-family: 'Inder', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2vh;
    line-height: 38px;
    color: rgba(116, 82, 43, 1);
}

.socialNetworks {
    width: 1.5vw;
    height: 3.5vh;
    opacity: 50%;
    margin-left: 3vh;
    margin-right: 3vh;

}

@media (min-width: 414px) {
    .footerContainer{
        height: 15vh;
        
    }

    .socialNetworks{
        height: 0;
    }
  }

  @media (min-width: 375px) {
    .footerContainer{
        height: 15vh;
        
    }

    .socialNetworks{
        height: 0;
    }
  }
  
  @media (min-width: 360px) {
    .footerContainer{
        height: 15vh;
        
    }

    .socialNetworks{
        height: 0;
    }
  } */
