.Logo{
  width: 15vw !important;
    
}

.navigation{
  background-color: #F0CF84 !important;
  
}

.text-navbar{
  color: #74522B !important;
  margin-inline-start: .625rem;
}
/* .menu{
  display: flex;
  justify-content: space-between;
}
.navbar-DashBoard{
margin-top: 1vw;
}

.navbar-Products{
margin-left: 40vw;
margin-right: 10vw;
}

p{
  color: black;
  text-decoration: none;
}

.navbar-Products, .navbar-DashBoard{
  text-decoration: none;
  font-weight: 600;
}

.navbar-Products:hover{
  color: red;

} */


