.cards{
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;   
    
}

.card{
  position: relative;
    width: 25rem;
    height: 28.75rem;
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    margin: 1.25rem;
        
}

.img-size{
  width: 17.875rem;
  height: 15rem;
  object-fit: cover;
}

.card:hover {
    opacity: 0.8; 
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 10 10px rgba(255, 255, 255, 0.787);
} 


  .btn-ad{
    background-color: #039C7E;
    color: white
    
  }
  .btn-ad:hover{
    color: white;
    background-color: #9243e7;
    }

  #btn-edit{
    margin: .0938rem;
  }
  .btn-E{
    background-color: rgb(112, 174, 83);
    border-style: none;
  }
  .btn-D{
    background-color: rgb(237, 75, 75);
    border-style: none;
  }

.container-gn{
  background-color: #a7d3f2;
 
  
}

.container-bar{
  
  margin-bottom: .625rem;
  align-items: center;
}

.searchStyle{
  border-radius: 20px;
  border: 0;
  width: 50vw;
  color: black;
  padding: 7px;
  position: sticky;
  top: .5rem;
  margin-left: 5rem;
}

@media (max-width: 414px) {
    .card {
      width: 120vw;
      align-items: center;
      
    }

    .cards{
        width: 90vw;
        align-items: center;

    }

    .card:hover {
      opacity: 0.8; 
      cursor: pointer;
      transform: none;
      box-shadow: none;
  } 
  }

  @media (max-width: 395px) {
    .card {
      width: 100vw;
      
    }

    .cards{
        width: 80vw;
        
    }

    .img-size{
      width: 15.625rem;
      height: 12.5rem;
      object-fit: cover;
    }
  }