.card:hover {
    opacity: 0.8;
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 10 10px rgba(240, 241, 243, 0.3);
  }
  .btn{
    background-color: #CBDAD5;
    color: rgb(11, 11, 11);
    border-style: none;
  }
  .btn:hover{
    color: white;
    background-color: #9243e7;
    }
  .btn-E{
    background-color: rgb(112, 174, 83);
  }
  .btn-D{
    background-color: rgb(237, 75, 75);
  }