.slide{
    display: flex;
    justify-content: center;
}

@media (max-width: 414px) {
    .slide{
        margin-top: 0;
    }
  }

  @media (max-width: 375px) {
    .slide{
        margin-top: 0;
    }
  }